{% extends 'base.html.twig' %}

{% block body %}
    <div id="map"></div>

    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 52.231792, lng: 21.006006},
                zoom: 13
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZm9sSVx2RjoX6tKOt_ZYdOglpXMBASDc&callback=initMap"
            async defer></script>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
{#                    <div class="spinner-border spinner" role="status">#}
{#                        <span class="sr-only">Loading...</span>#}
{#                    </div>#}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li>
                            Lat: <span id="lat" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Lng: <span id="lng" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Name: <span id="name" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Temp: <span id="temp" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Pressure: <span id="pressure" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Humidity <span id="humidity" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Temp min: <span id="temp-min" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Temp max: <span id="temp-max" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Wind speed: <span id="wind-speed" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Wind deg: <span id="wind-deg" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Clouds: <span id="clouds" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Rain in 1 hour: <span id="rain-1" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Rain in 3 hour: <span id="rain-3" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Snow in 1 hour: <span id="snow-1" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                        <li>
                            Snow in 3 hour: <span id="snow-3" class="elem"></span>
                            <div class="spinner-border spinner-border-sm spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
